<div class="user-edit-container">
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          ユーザー編集画面
        </h1>
      </div>
    </div>
  </section>
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :profile_image, "プロフィール画像" %><br />
      <%= f.file_field :profile_image, autofocus: true, autocomplete: "profile_image" %>
    </div>

    <div class="field">
      <%= f.label :username, "ユーザー名" %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :profile, "自己紹介" %><br />
      <%= f.text_area :profile, autofocus: true, autocomplete: "profile", rows: 5 %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="actions">
      <%= f.submit "更新する", class: "button is-info" %>
    </div>
    <br>
    <%= link_to "戻る", :back %>
  <% end %>
</div>


  <div class="user-destroy">
    <h3>アカウント削除</h3>

    <p><%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除してよろしいですか?" }, method: :delete, class: "button is-danger" %></p>

  </div>
