<div class="user-show">
  <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <%= link_to user_path(@user.id) do %>
            <span class="icon is-small">
              <i class="far fa-user-circle" aria-hidden="true"></i>
            </span>
            <span>プロフィール</span>
          <% end %>
        </li>

        <li>
          <%= link_to [@user, :followings] do %>
            <span class="icon is-small">
              <i class="far fa-address-book" aria-hidden="true"></i>
            </span>
            <span>フォロー中</span>
            <span class="following-count"><%= @followings.count %>人</span>
          <% end %>
        </li>

        <li>
          <%= link_to [@user, :followers] do %>
            <span class="icon is-small">
              <i class="fas fa-user-friends" aria-hidden="true"></i>
            </span>
            <span>フォロワー</span>
            <span class="follower-count"><%= @followers.count %>人</span>
          <% end %>
        </li>

        <li>
          <%= link_to post_like_path(@user) do %>
            <span class="icon is-small">
              <i class="fas fa-thumbs-up" aria-hidden="true"></i>
            </span>
            <span>いいね</span>
          <% end %>
        </li>
      </ul>
    </nav>

    <hr>

<% if user_signed_in? && current_user != @user %>
  <% if current_user.active_relationships.exists?(target_user_id: @user.id) %>
    <%= link_to 'フォローを解除する', [@user, :follow], method: :delete, class: "unfollow-button" %>
  <% else %>
    <%= link_to 'フォローする', [@user, :follow], method: :post, class: "follow-button" %>
  <% end %>
<% end %>

<% if @user.profile_image.attached? %>
  <figure class="image is-128x128">
    <%= image_tag @user.profile_image.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0") %>
  </figure>
<% else %>
  <figure class="image is-128x128">
    <%=  image_tag 'free_user.png'%>
  </figure>
<% end %>


<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= @user.username %></p>
      </div>
    </div>

    <div class="content">
      <%= @user.profile %>
    </div>
  </div>
  <div class="edit-button">
    <% if @user == current_user %>
      <%= link_to edit_user_registration_path do %>
        <i class="fas fa-cog"></i>
      <% end %>
    <% end %>
  </div>
</div>
<hr>
<p>投稿一覧</p>
<% @posts.each do |post| %>
  <div class="box">
  <%= link_to post_path(post.id) do%>
    <article class="media">
    <% if post.post_image.attached? %>
      <div class="media-left">
        <figure class="image">
          <%= image_tag post.post_image.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0") %>
        </figure>
      </div>
    <% end %>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>@<%= post.user.username %></strong> <small>【<%= post.title %>】</small>
            <div class="content-time">
              <small><%= post.created_at.strftime('%Y/%m/%d') %> </small>
            </div>
            <hr>
            <%= post.content %>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <div class="comment-button">
              <%= link_to new_post_comment_path(post) do %>
                <i class="far fa-comment" aria-hidden="true"></i>
              <% end %>
              <%= post.comments.count %>
            </div>

            <a class="level-item" aria-label="retweet">
              <span class="icon is-small">
                <i class="fas fa-retweet" aria-hidden="true"></i>
              </span>
            </a>
            <% if current_user.already_liked?(post) %>
              <%= button_to post_like_path(id: post.id, post_id: post.id), method: :delete do %>
                <a class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <i class="fas fa-heart like-btn" aria-hidden="true"></i>
                  </span>
                </a>
              <% end %>
            <% else %>
              <%= button_to post_likes_path(post), method: :post do %>
                <a class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <i class="fas fa-heart unlike-btn" aria-hidden="true"></i>
                  </span>
                </a>
              <% end %>
            <% end %>
            <%= post.liked_users.count %>
          </div>
        </nav>
      </div>
    </article>
  </div>
  <% end %>
<% end %>

</div>