<nav class="navbar is-warning">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <i class="fas fa-campground"></i>
      <h1 class="title is-4" style="font-family: Impact;">CAMP US</h1>
    <% end %>

    <% if user_signed_in? %>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <%= link_to posts_path do %>
                <i class="fas fa-search"></i>
              <% end %>
            </p>
            <p class="control">
              <%= link_to new_post_path do %>
                <i class="far fa-edit"></i>
              <% end %>
            </p>
            <p class="control">
              <%= link_to timeline_posts_path do %>
                <i class="far fa-list-alt"></i>
              <% end %>
            </p>
            <p class="control">
              <%= link_to user_path(current_user) do %>
                <i class="far fa-user"></i>
              <% end %>
            </p>
            <p class="control">
              <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしてもよろしいですか?" } do %>
                <i class="fas fa-sign-out-alt"></i>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i>
              <% end %>
            </p>
            <p class="control">
              <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-light" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</nav>