<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規投稿画面
      </h1>
    </div>
  </div>
</section>

<div class="post-new-container">
  <%= form_with model: @post, local: true do |f| %>

    <div class="field">
      <%= f.label :post_image %><br />
      <%= f.file_field :post_image, autofocus: true, autocomplete: "post_image" %>
    </div>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
    </div>

    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content, autofocus: true, autocomplete: "content" %>
    </div>



    <div class="actions">
      <%= f.submit "投稿する", class: "button is-info" %>
    </div>
  <% end %>


  <%= link_to "戻る", :back %>
</div>