<div class="post-show">
  <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <%= link_to user_path(@user) do %>
            <span class="icon is-small">
              <i class="far fa-user-circle" aria-hidden="true"></i>
            </span>
            <span><%= @post.user.username %></span>
          <% end %>
        </li>

        <li>
          <%= link_to post_likes_path(@post) do %>
            <span class="icon is-small">
              <i class="fas fa-heart like-btn" aria-hidden="true"></i>
            </span>
            <span>この投稿にいいねしたユーザー</span>
          <% end %>
        </li>
      </ul>
    </nav>

    <hr>

<figure class="image is-128x128">
  <%= image_tag @post.post_image %>
</figure>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">【<%= @post.title %>】</p>
      </div>
    </div>

    <div class="content">
      <%= @post.content %>
    </div>
  </div>
  <nav class="level is-mobile">
    <div class="level-left">
      <%= link_to new_post_comment_path(@post) do %>
        <i class="far fa-comment" aria-hidden="true"></i>
      <% end %>

      <a class="level-item" aria-label="retweet">
        <span class="icon is-small">
          <i class="fas fa-retweet" aria-hidden="true"></i>
        </span>
      </a>

      <%#いいね機能%>
      <% if current_user.already_liked?(@post) %>
      <div class="like-link" id="like-link-<%= @post.id %>">
        <%= render 'shared/like', post: @post %>
      </div>
      <% else %>
      <div class="like-link" id="like-link-<%= @post.id %>">
        <%= render 'shared/unlike', post: @post %>
      </div>
      <% end %>
        <%= @post.likes.count %>
    </div>
  </nav>

  <% if @user == current_user %>
    <%= link_to '編集', edit_post_path(@post), {class: "button is-light"} %>
  <% end %>
</div>
<br>

コメント欄
<% @comments.each do |comment| %>
<div class="card">
  <div class="card-content">
    <div class="comment">
      <strong>@<%= comment.user.username %></strong>
      <small><%= time_ago_in_words(comment.created_at) %>前</small>
      <p><%= comment.comment %></p>
      <% if comment.user.id == current_user.id %>
        <%= link_to "削除", post_comment_path(@post, comment), method: :delete %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<br>
<%= link_to "戻る", :back %>

</div>